/* 
    RESPONSIVE FOR HEADER
*/

@media screen and (max-width: 768px) {
    .nav_block {
        display: none;
    }
}

/* 
    RESPONSIVE FOR SECOND BLOCK WITH MAN`S PHOTO
*/



@media screen and (max-width: 1490px) {
    .name-and-surname {
        width: 84% !important;
        left: 8% !important;
    }
    .name-and-surname h4,
    .name-and-surname h3 {
        font-size: 95px !important;
    }
}

@media screen and (max-width: 1280px) {
    .name-and-surname {
        width: 96% !important;
        left: 2% !important;
    }
    .name-and-surname h3 {
        font-size: 90px !important;
    }
    .name-and-surname h4 {
        font-size: 90px !important;
    }
    .who-I-am {
        width: 96% !important;
        left: 2% !important;
    }
    #element4 {
        left: 75%;
    }
}

@media screen and (max-width: 1127px) {
    .photo-with-man {
        left: calc(50% - 212px);
        width: 424px;
        height: 561px;
        margin-top: 40px;
    }
    .name-and-surname h3 {
        font-size: 80px !important;
    }
    .name-and-surname h4 {
        font-size: 80px !important;
    }
    .second-section__left-side h3,
    .second-section__rigth-side h3 {
        font-size: 19px;
    }
    .second-section__left-side p,
    .second-section__rigth-side p {
        font-size: 19px;
    }
    #element5 {
        left: 90%;
    }
}

@media screen and (max-width: 1040px) {
    .name-and-surname h3 {
        font-size: 65px !important;
    }
    .name-and-surname h4 {
        font-size: 65px !important;
    }
    .second-section__rigth-side h3 {
        font-size: 17px;
        font-weight: 700;
    }
    .second-section__left-side h3 {
        font-size: 17px;
    }
    .second-section__rigth-side p {
        font-size: 17px;
    }
    .second-section__left-side p {
        font-size: 17px;
    }
    .command-on {
        font-size: 22px;
    }
    .working-experience {
        font-size: 22px;
    }
    .skills-in {
        font-size: 22px;
    }
    .experience-block p {
        font-size: 22px;
    }
    .experience-block h3 {
        font-size: 70px;
    }
}

@media screen and (max-width: 865px) {
    .name-and-surname h3 {
        font-size: 50px !important;
    }
    .name-and-surname h4 {
        font-size: 50px !important;
    }
    .name-and-surname {
        padding-top: 120px !important;
    }
    .second-section__left-side h3 {
        font-size: 18px;
    }
    .second-section__rigth-side h3 {
        font-size: 18px;
    }
    .second-section__rigth-side p {
        font-size: 16px;
    }
    .second-section__left-side p {
        font-size: 16px;
    }
    .second-section__rigth-side {
        max-width: 210px;
    }
    .second-section__left-side {
        max-width: 148px;
    }
}

@media screen and (max-width: 722px) {
    .name-and-surname h3 {
        font-size: 44px !important;
    }
    .name-and-surname h4 {
        font-size: 44px !important;
    }
    .working-experience {
        font-size: 19px;
    }
    .skills__block-all-skills h2 {
        font-size: 15px;
    }
    .command-on,
    .skills-in {
        font-size: 17px;
    }
    .experience-block p {
        font-size: 20px;
        margin-left: 20px;
    }
    .experience-block h3 {
        font-size: 60px;
    }
    #element5 {
        left: 80%;
    }
}

@media screen and (max-width: 674px) {
    .name-and-surname h3 {
        font-size: 40px !important;
    }
    .name-and-surname h4 {
        font-size: 40px !important;
    }
    .name-and-surname {
        padding-top: 25px !important;
    }
    .photo-with-man {
        left: calc(50% - 150px);
        width: 300px;
        height: 415px;
        margin-top: 198px;
    }
    .who-I-am {
        top: 95px !important;
    }
    .name-and-surname h3 {
        font-size: 25px;
    }
    .name-and-surname h4 {
        font-size: 25px;
    }
    .name-and-surname {
        width: 80% !important;
        left: 10% !important;
    }
    .second-section__rigth-side {
        text-align: right;
    }
    .who-I-am {
        width: 90% !important;
        left: 5% !important;
    }
    .second-section__rigth-side {
        max-width: 180px;
    }
    .second-section__rigth-side p,
    .second-section__left-side p {
        font-size: 14px;
        margin-top: 10px;
    }
    .second-section__rigth-side h3,
    .second-section__left-side h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 500px) {
    .experience-block p {
        font-size: 18px;
        margin-left: 18px;
    }
    .experience-block h3 {
        font-size: 50px;
    }
    .working-experience {
        font-size: 17px;
    }
    .experience-block h3 {
        font-size: 45px;
    }
    .experience-block p {
        font-size: 16px;
        margin-left: 17px;
    }
    .command-on, .skills-in {
        font-size: 15px;
    }
    #element5 {
        left: 75%;
    }
}

@media screen and (max-width: 420px) {
    .burger-modal-window {
        width: 100%;
        height: 100%;
    }
    .burger-modal-window .nav_block {
        margin-top: 85px;
    }
    .burger-modal-window .nav_block a {
        margin: 30px auto;
    }
}
