@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@400;500;600;700&display=swap');

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
*/


* {
    padding: 0;
    margin: 0;
}

html{
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    color:  #000;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    font-family: 'Yeseva One', cursive;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

button{
    border: none;
    padding: 0;
    border-radius: 0;
    cursor: pointer;
    background: transparent;
}


/* ============================
    HEADER
   ============================
*/


header {
    background: #222222;
    width: 100%;
    min-height: 84px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header {
    display: flex;
    width: 79%;
    min-height: 63px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.red-cube {
    background: #F26B50;
    width: 63px;
    height: 63px;
    color: #FBFBFB;
    font-size: 49px;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.2;
}

.nav_block {
    display: flex;
    min-width: 325px;
    justify-content: space-between;
}

.left-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 81%;
}

.nav_block a {
    color: #FBFBFB;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    transition: .3s;
}

.nav_block a:hover {
    color: #d3d2d2;
}

.burger_block {
    display: flex;
}

.burger-menu {
    background: url(../img/header/burger-red.svg);
    width: 39px;
    height: 39px;
    margin-left: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.burger-menu.active {
    background: url(../img/header/burger-is-active.svg);
    width: 39px;
    height: 39px;
    margin-left: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.burger-menu.active:hover {
    background: url(../img/header/burger-active-white.svg);
}

.burger-menu:hover {
    background: url(../img/header/burger-white.svg);
}


/* ============================
    SECOND WECTION WITH NAME
   ============================
*/

.section-with-name {
    width: 100%;
    min-height: 561px;
    background: #222222;
    position: relative;
}

.bg-elements {
    background: url(../img/2section-with-name/bg-elements.png);
    width: 100%;
    height: 493px;
    background-repeat: no-repeat;
}

.photo-with-man {
    background: url(../img/2section-with-name/mans-photo.png);
    left: calc(50% - 240px);
    width: 479px;
    height: 619px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.name-and-surname h3 {
    color: #FBFBFB;
    font-family: 'DM Sans', sans-serif;
    font-size: 108px;
}

.name-and-surname h4 {
    color: #F26B50;
    font-family: 'DM Sans', sans-serif;
    font-size: 108px;
}

.name-and-surname {
    display: flex;
    width: 74%;
    justify-content: space-between;
    padding-top: 65px;
    position: absolute;
    left: 12%;
}

.who-I-am {
    display: flex;
    width: 90%;
    position: absolute;
    min-height: 142px;
    bottom: 125px;
    left: 5%;
    justify-content: space-between;
}

.second-section__left-side {
    max-width: 340px;
}

.second-section__left-side h3 {
    color: #F26B50;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}

.second-section__rigth-side h3 {
    color: #F26B50;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
}

.second-section__left-side p {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 26px;
}

.second-section__rigth-side p {
    color: #FBFBFB;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 26px;
}

.second-section__rigth-side {
    max-width: 318px;
}



/* =================================
    SKILLS BLOCK
   =================================
*/

.skills-block {
    width: 100%;
    min-height: 417px;
    /* background: rgba(84, 84, 84, 0.46);  I will use this color for modal window */
    background: #545454;
    padding-top: 86px;
    padding-bottom: 40px;
}

.skills__block-all-skills {
    display: flex;
    width: 80%;
    min-height: 270px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__block-all-skills h2 {
    color: #F26B50;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 23px;
    margin-top: 23px;
}

.working-experience {
    color: #FBFBFB;
    font-size: 26px;
    font-weight: 400;
    width: 302px;
    font-family: 'Inter', sans-serif;
}

.working-experience p {
    line-height: 171.523%;
}

.command-on {
    width: 302px;
    color: #FBFBFB;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.skills__block-all-skills ul {
    list-style-type: none;
    line-height: 171.523%;
}

.skills-in {
    color: #FBFBFB;
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.experience-block {
    margin: 32px 0px 0px 10%;
    display: flex;
    align-items: center;
}

.experience-block h3 {
    color: #F26B50;
    font-size: 80px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.experience-block p {
    max-width: 148px;
    color: #FBFBFB;
    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin-left: 25px;
}



/* =================================
    MODAL MENU (BURGER MENU)
   =================================
*/

.overlay-when-burger-is-open {
    background: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.burger-modal-window {
    background: #F26B50;
    width: 330px;
    height: 400px;
    position: fixed;
    right: -100%;
    top: 84px;
    z-index: 2;
    transition: .3s;
}

.burger-modal-window .nav_block {
    flex-direction: column;
    display: flex;
    margin-top: 40px;
}

.burger-modal-window .nav_block a {
    width: fit-content;
    margin: 25px auto;
    font-size: 21px;
}

/*      Section progect         */

.project{
    background: #222;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 120px;
    padding-bottom: 194px;
    color: #d3d2d2;
    overflow: hidden;
}

.container{
    width: 1215px;
}

.content{
    display: flex;
    /* justify-content: space-between; */
    gap: 64px;
}

.project_title{
    color: #F26B50;
    font-family: Sansation;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 11px;
}

.prort_title{
    color: #F26B50;
    font-family: Sansation;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 43px;
}

.project_text{
    color: #FBFBFB;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 334px;
    padding-bottom: 55px;
}

.view_btn{
    display: flex;
    align-items: center;
    gap: 9px;
    text-align: center;
    cursor: pointer;
}

.viewt_btn-text{
    padding-top: 23px;
    color: #F26B50;
    font-family: Inter;
    font-size: 19px;
    font-weight: 700;
    bottom: 0;
}


.view_btn-img{
    transform:  translate(0, 100%);
}

.active{
    width: 30px;
    height: 30px;
    transform: rotate(90deg);
}

.view_btn-img2{
    transform:  translate(0, 100%);
}

.project_swiper{
    width: 878px;
    overflow: hidden;
}

.project_item{
    width: 368px;
}

.project_item-img{
    border-radius: 10px 10px 10px 10px;
    width: 368px;
    height: 324px;
}

.project_item-text{
    width: 350px;
    color: #FBFBFB;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
    height: 80px;
}

.view_all{
    display: none;
    align-items: center;
    text-align: center;
}

.view_all_content{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 40px;
    padding-bottom: 20px;
}

.view_all_item-info{
    width: 340px;
}

.view_all_item-img{
    width: 340px;
    height: 324px;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 15px;
}

.view_all_item-text{
    width: 340px;
    color: #FBFBFB;
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 500;
}

.close{
    display: block;
    margin-left: 130px;
    margin-top: 40px;
}

.close_view_all{
    font-family: DM Sans;
    font-size: 24px;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    border: solid 2px #393939;
    background: #393939;
    color: #FBFBFB;
    cursor: pointer;
}

.close_view_all:hover{
    border: solid 2px #FBFBFB;
    background: #FBFBFB;
    color: #000;
}

@media (max-width: 1300px){
    .project_item{
        width: 250px;
    }
    .project_item-img{
        width: 250px;
        height: 240px;
    }
    .project_item-text{
        width: 250px;
        font-size: 20px;
    }
    .project_swiper{
        width: 578px;
    }
    .view_all_item{
        width: 250px;
    }
    .view_all_item-info{
        width: 250px;
    }
    .view_all_item-img{
        border-radius: 10px 10px 10px 10px;
        width: 250px;
        height: 240px;
    }   
    .view_all_item-text{
        font-size: 16px;
    }
}

@media (max-width: 1160px){
    .container{
        width: 1000px;
        margin: 0 auto;
    }

}

@media (max-width: 1000px){
    .container{
        width: 800px;
    }
    .project{
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media (max-width: 860px){
    .container{
        width: 700px;
    }
    .project{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 800px){
    .container{
        width: 690px;
    }
    .project{
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 785px){
    .container{
        width: 560px;
    }
    .project{
        padding-left: 5px;
        padding-right: 40px;
    }
}

@media (max-width: 730px){
    /* .container{
        width: 560px;
    } */
    .project{
        padding-left: 40px;
        padding-right: 40px;
    }
    .content{
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
    }

}

@media (max-width: 530px){
    .container{
        width: 400px;
    }
    .project{
        padding-left: 10px;
        padding-right: 10px;
    }
    .view_all_item-text{
        font-size: 12px;
    }
    .project_text{
        font-size: 16px;
        width: 250px;
    }
    .prort_title{
        font-size: 20px;
    }
}

@media (max-width: 455px){
    .container{
        width: 400px;
    }
    .project{
        padding-left: 10px;
        padding-right: 10px;
    }
    .view_all_item-text{
        font-size: 12px;
    }
    .project_text{
        font-size: 14px;
        width: 250px;
    }
    .prort_title{
        font-size: 16px;
    }
    .project{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (max-width: 400px){
    .container{
        width: 380px; 
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: right;
    }
    .project_item-img{
        width: 210px;
        height: 210px;
    }
    .view_all_item-text{
        font-size: 10px;
    }
    .project_text{
        font-size: 12px;
        width: 190px;
    }
    .project_title{
        width: 200px;
        font-size: 18px;
    }
    .prort_title{
        width: 210px;
        font-size: 16px;
    }
    .project{
        padding-left: 0px;
        padding-right: 0px;
    }
}

/*
@media (max-width: 830px){
    .view_all_content{
        margin-left: 100px;
    }
    .close_view_all{
        margin-left: 190px;
    }
}

@media (max-width: 750px){
    .content{
        margin-left: 60px;
    }
    .view_all_content{
        margin-left: 60px;
    }
    .close_view_all{
        margin-left: 120px;
    }
}

@media (max-width: 630px){
    .content{
        margin-left: 20px;
    }
    .view_all_content{
        margin-left: 20px;
    }
    .close_view_all{
        margin-left: 4px;
    }
} 
*/







