@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #222222;   
    color: #fff;    
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 60px;
}

.article__main-header {
    font-family: 'DM Sans', sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    color: #F26B50;
}

.img-wrapper {
    max-width: 500px;
    margin: 0 auto; 
}

.article__main-header-img {
    display: flex;    
    width: 100%;
    background-color: #fff;
}

.article__title-h2 {
    font-size: 30px;
    font-weight: 600;
    color: #F26B50;
}

.article__title-h3 {
    color: #F26B50;
}

.article__text {
    font-size: 18px;
}

.article__text-italic {
    font-style: 14px;
    font-style: italic;
    margin-bottom: 0;
}

.article__code code {
    margin: 0;    
}

.article__list li {
    margin-bottom: 5px;
}

.list-item-name {
    color: #F26B50;
    font-size: 18px;
}

.link-item {
    color: #52d7ff;
    transition: 0.3s;
}

.link-item:hover {
    color: #F26B50;
}


@media screen and (max-width: 640px) {
    .article__main-header {
        font-size: 30px;
        letter-spacing: 1px;
    }
    .article__title-h2 {
        font-size: 26px;
    }
    .article__text {
        font-size: 15px;
    }
}